<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 PAGE</title>
  <style>
    body{
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1{
      background: red;
      padding: 1rem 1.5rem;
      color: #fff;
      text-transform: capitalize;
      width: 60%;
      min-width: 400px;
      border-radius: 12px;
    }
  </style>
</head>
<body>
  <h1>
     404 page not found
  </h1>
</body>
</html>